<%= infotab_top(_('Translation memory'), _('Choose how to use the translation memory for this project.') ) %>
<% if @editing %>
	<%= infotab_header([_('How to apply translation memory')]) %>
	<tr><td>
		<%= form_tag({ :action => :edit_tm_use }, :remote => true) do %>
			<p><strong><%= _('When we find exact matches in the translation memory:') %></strong></p>
			<p>
			<% WebsitesController::TM_COMPLETE_TEXT.each do |k,v| %>
				<label><%= radio_button_tag(:tm_use_mode, k, @website.tm_use_mode == k) %> <%= _(v) %></label><br />
			<% end %>
			</p>
			<p><strong><%= _('Minimal length of sentence to mark as complete:') %></strong> <%= text_field_tag(:tm_use_threshold, @website.tm_use_threshold, :size=>5, maxlength: COMMON_FIELD) %><br />
			<span class="comment"><%= _("Very short sentences might be out-of-context, so it's not safe to mark them as complete automatically.") %></p>
			<%= submit_tag _('Save'), data: { disable_with: _('Save') } %>
		<% end %>
		<%= form_tag({ :action => :edit_tm_use, :req=>'hide' }, :remote => true) do %>
			<%= submit_tag _('Cancel'), data: { disable_with: _('Cancel') } %>
		<% end %>
	</td></tr>
	</table>
<% else %>
	<%= infotab_header([_('How to apply translation memory')]) %>
	<tr><td>
	<p><%= _('When we find exact matches in the translation memory:') %> <strong><%= _(WebsitesController::TM_COMPLETE_TEXT[@website.tm_use_mode]) %></strong></p>
	<% if @website.tm_use_mode == TM_COMPLETE_MATCHES %>
	<p><%= "#{_('Mark as complete sentences that have <strong>%d word(s) or more</strong> (shorter sentences will remain as incomplete).')%@website.tm_use_threshold}".html_safe %></p>
	<% end %>
	</td></tr>
	</table>
	<div class="tabbottom">
			<% if [@user, @user.master_account].include?(@website.client) and @user.can_modify?(@website)%>
				<%= form_tag({ :action => :edit_tm_use, :req=>'show' }, :remote => true) do %>
					<%= submit_tag _('Edit'), data: { disable_with: _('Edit') } %>
				<% end %>
			<% end %>
	</div>
<% end %>
