
<div id="wpCredentials">
  <p>Client has provided WP credentials for this project: <strong><%= link_to 'Reveal', '#', remote: true, id: 'btnRevealCreds' %></strong></p>
  <%= form_tag reveal_wp_credentials_website_path(website), remote: true, class: 'hide', id: 'frmRevealWPCreds' do %>
    <strong><%= label_tag 'Please enter your password :' %></strong>
    <%= password_field_tag :password, nil, id: 'txtPWD' %>
    <%= submit_tag 'Submit' %>
    <%= link_to 'Cancel', '#', id: 'hidePWDForm' %>
  <% end %>
  <div id="wpCredentialsTBL" style="margin-top: 20px;"></div>
</div>

<script type="text/javascript">
jQuery('#btnRevealCreds').on('click', function(e){
  e.preventDefault();
  jQuery(this).addClass('hide');
  jQuery('#frmRevealWPCreds').removeClass('hide');
});

jQuery('#hidePWDForm').on('click', function(e){
    e.preventDefault();
    jQuery(this).parent().addClass('hide');
    jQuery('#btnRevealCreds').removeClass('hide');
});
</script>