<div id="changePass">
  <%= form_tag("/alias_profiles/#{alias_profile.id}/update_password", :remote => true)  do |f|%>
      <%= password_field_tag :password, nil, :size => 10, maxlength: 18 %> Password<br/>
      <%= password_field_tag :repeat_password, nil, :size => 10, maxlength: 18 %> Repeat<br/>
      <%= submit_tag 'Save', data: { disable_with: 'Save' } %>
  <% end %>

  <a href="#" onclick="jQuery(this).parent().find('form').remove(); jQuery(this).parent().find('div').show(); jQuery(this).remove()">Cancel</a>

  <div style="display: none;">
    <%= render :partial => 'alias_profiles/show_password', :locals => {:alias_profile => alias_profile, :error => nil} %>
  </div>
</div>