<div class="infobox"><h4><%= _('Translation memory') %></h4>
<% if @editing %>
	<%= form_tag({ :action => :edit_tm_use }, :remote => true) do %>
		<p><strong><%= _('When we find exact matches in the translation memory:') %></strong></p>
		<p>
		<% WebsitesController::TM_COMPLETE_TEXT.each do |k,v| %>
			<label><%= radio_button_tag(:tm_use_mode, k, @text_resource.tm_use_mode == k) %> <%= _(v) %></label><br />
		<% end %>
		</p>
		<p><strong><%= _('Minimal length of sentence to mark as complete:') %></strong> <%= text_field_tag(:tm_use_threshold, @text_resource.tm_use_threshold, :size=>5, maxlength: COMMON_FIELD) %><br />
		<span class="comment"><%= _("Very short sentences might be out-of-context, so it's not safe to mark them as complete automatically.") %></p>
		<%= submit_tag _('Save'), data: { disable_with: _('Save') } %>
	<% end %>
	<%= form_tag({ :action => :edit_tm_use, :req=>'hide' }, :remote => true) do %>
		<%= submit_tag _('Cancel'), data: { disable_with: _('Cancel') } %>
	<% end %>
<% else %>
	<p><%= _('When we find exact matches in the translation memory:') %> <strong><%= _(WebsitesController::TM_COMPLETE_TEXT[@text_resource.tm_use_mode]) %></strong></p>
	<% if @text_resource.tm_use_mode == TM_COMPLETE_MATCHES %>
	<p><%= "#{_('Mark as complete sentences that have <strong>%d word(s) or more</strong> (shorter sentences will remain as incomplete).')%@text_resource.tm_use_threshold}".html_safe %></p>
	<% end %>
	
	<% if @text_resource.client == @user %>
		<%= form_tag({ :action => :edit_tm_use, :req=>'show' }, :remote => true) do %>
			<p><%= submit_tag _('Edit'), data: { disable_with: _('Edit') } %></p>
		<% end %>
	<% end %>
<% end %>
</div>