<%= my_error_messages_for :text_resource %>

<%= form_for(:text_resource, :url=>{:action=>:create}) do |f| %>
<h3 style="display: inline;">Name this project</h3>
<%= tooltip "This name will help you identify this project in the future" %>

<div class="field_entry"><%= f.text_field(:name, :size=>80, :style=>'padding: 0.2em;', maxlength: COMMON_FIELD) %></div>

<h3 style="display: inline;">Description</h3>
<%= tooltip  "Provide any information that you think translators should know about this project
<ul>
<li>Who the application is intended for</li>
<li>Prefered writing style (formal, conversational, for teens, etc.)</li>
<li>Links to a website where the application is described in more details</li>
<li>Screen-shots of the application in action, to show the translators how the texts are used in the GUI</li>
</ul>
" %>
 

<div class="field_entry"><%= f.text_area(:description, :rows=>7, :cols=>80, :style=>'padding: 0.2em;', maxlength: COMMON_NOTE) %></div>

<h3 style="display: inline;">Subject</h3>
<%= tooltip "Tell us what your program is about" %>
<div class="field_entry"><%= f.select(:category_id, @categories) %>
  <p class="comment">Choosing the subject is optional. It will help you find translators who specialize in this field.</p>
</div>

<h3 style="display: inline;">Required text</h3>
<%= tooltip "Enter words or phrases (separated by commas) that will have to appear in both translation and source text the same number of times to be able to complete the string.<p class='comment'><b>IMPORTANT:</b> Please note that translators won’t be able to mark a string as completed if the count don’t match.</p>" %>

<div class="field_entry">
	<p><%= f.text_field(:required_text, :size=>80, :style=>'padding: 0.2em;', maxlength: COMMON_FIELD) %></p>
	<p><label><%= f.check_box(:check_standard_regex) %> Also check for standard software string placeholders (like %d, %s, %f, etc.)</label></p>
</div>

<h3 style="display: inline;">Original language</h3>
<%= tooltip "The original language in which the resource file is written" %>
<div class="field_entry"><%= f.select(:language_id, @languages) %></div>

<!-- Target Languages -->
<h2 style="display: inline;" id="languages">Target languages</h2>
<div class="field_entry">
  <div id="translation_languages">
  <%=
    Rails.cache.fetch("#{@text_resource.cache_key}/#{@user.cache_key}/translation_languages", expires_in: CACHE_DURATION) do
      render(:partial=>'translation_languages')
    end
  %>
  </div>
</div>
<script type="text/javascript">
    jQuery( document ).ready(function( $ ) {
        var http_request = false;
        $('#text_resource_language_id').change(function(){
            var language_id = $(this).val();
            console.log('Refreshing target languages for language_id',language_id);
            $('#language_spinner').fadeIn();
            $('#translation_languages table.languages').hide();

            http_request = $.get('/text_resources/target_languages?language_id='+language_id)
                .done(function(result){
                    $('#translation_languages').html(result)
                    $('#translation_languages table.languages').fadeIn();
                }).error(function(a,b,c){
                    alert('There was an error obtaining list of target languages. Please try again in a few momments. If this problem persist please create a support ticket.')
                }).always(function(){
                    $('#language_spinner').fadeOut();
                })
        })
    })
</script>


<%= f.hidden_field(:owner_type) %>
<%= f.hidden_field(:owner_id) %>

<%= link_to('&laquo; Cancel'.html_safe, {:action=>:index}) %> &nbsp; | &nbsp; <%= submit_tag('Create project', :style=>'padding: 0.5em;', data: { disable_with: '&laquo; Cancel'.html_safe }) %>
<p class="comment">In the next step you will add strings to translate uploading a resource file or adding strings manually.</p>

<% end %>