<h1>New help_group</h1>

<%= my_error_messages_for :help_group %>

<%= form_for(@help_group) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name, maxlength: COMMON_FIELD, size: COMMON_FIELD_SIZE %>
  </p>

  <p>
    <b>Order</b><br />
    <%= f.number_field :order, min: 0, max: 99 %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', help_groups_path %>
