<table cellpadding="5">
	<tr><td valign="top">Version:</td><td><b><%= @download.major_version %>.<%= @download.sub_version %></b></td></tr>
	<tr><td valign="top">Created:</td><td><b><%= disp_time(@download.create_time) %></b></td></tr>
	<tr><td valign="top">Size (bytes):</td><td><b><%= @download.size %></b></td></tr>
	<tr><td valign="top">Requirements:</td><td><b>Windows XP/Vista</b></td></tr>
	<tr><td valign="top">Notes:</td><td><b><%= pre_format(@download.notes) %></b></td></tr>
<% if @user.has_admin_privileges? %>
	<tr><td valign="top">File name:</td><td><b><%= @download.filename %></b></td></tr>
	<tr><td valign="top">For use by:</td><td><b><%= @download.usertype %></b></td></tr>
<% end %>
</table>
<br />
<p><%= link_to("Download Now", {:action=>:get, :id=>@download.id}, {:style=>"background: #f48f35; padding: 0.3em 0.6em 0.5em 0.6em; color: #ffffff; font-size:135%; font-weight:bold;"}) %>&nbsp;&nbsp;&nbsp; <%= "%.1f"%(@download.size/(1024.0*1024.0)) %> Mbyte</p>
<br /><hr /><br />
<% if @user.has_admin_privileges? %>
	<p><%= link_to('Back to download index', {:action=>:index}) %></p>
<% else %>
	<p>Your session in ICanLocalize is open in another window.<br />
	When you're done downloading, you can <a href="javascript:window.close();">close this window</a>.</p>
<% end %>