<p><%= (_("Back to %s project.") % link_to(h(@text_resource.name), {:controller=>:text_resources, :action=>:show, :id=>@text_resource.id})).html_safe %></p>
<br />
<div class="infobox"><h4><%= _("Upload details") %></h4>
	<table>
		<tr><td><%= _("File name:") %></td><td><b><%= h(@resource_upload.orig_filename) %></b></td></tr>
		<tr><td><%= _("Uploaded:") %></td><td><b><%= disp_time(@resource_upload.chgtime) %></b></td></tr>
	</table>
</div>

<%= text_area_tag(:txt, h(@resource_upload.get_contents), {:rows=>20, :cols=>100, :style=>'width: 100%;', maxlength: COMMON_NOTE}) %>
