<tr>
	<td><%= issue_title(issue) %></td>
	<td><%= Issue::KIND_TEXT[issue.kind] %></td>
	<td><%= user_link(issue.initiator) %></td>
	<td><%= user_link(issue.target) %></td>
	<td><%= disp_date(issue.created_at) %></td>
	<td><%= disp_date(issue.updated_at) %></td>
</tr>