<tr class="translator_<%= translator[:id] %>">
  <td><%= translator[:name] %> <%= link_to('(Switch)', { controller: :login, action: :switch_user, id: translator[:id] }, target: '_blank') %></td>
  <td class="translator">
    <input type="hidden" name="translators[][type]" />
    <%= translator_auto_assign_button(translator, assigned_translators_ids) %>
    <% contract = @contracts.select { |x| x.translator_id == translator[:id] }.first %>
    <%= link_to "Communicate to #{translator[:name]}",
                url_for(
                    controller: :website_translation_contracts,
                    action: :show, id: contract.id,
                    website_id: offer.website.id,
                    website_translation_offer_id: offer.id
                ) unless contract.nil?
    %>
  </td>
  <td class="reviewer">
    <input type="hidden" name="translators[][id]" />
    <%= reviewer_auto_assign_button(translator, assigned_reviewers_ids, review_enabled) %>
    <% if offer.review_enabled_for_pending_jobs? && translator[:level] == 2 %>
      <%
        is_reviewer = translator[:id].to_i == offer.managed_work&.translator&.id.to_i
        is_checked = (is_reviewer && offer.managed_work&.review_type == REVIEW_AND_EDIT)
      %>
      <p class="review-type <%= 'hide' unless is_reviewer %>" style="margin-top: 5px">
        <label class="switch m-r-5" style="margin-bottom: -5px">
          <%= check_box_tag 'translators[][review_type]', 'REVIEW_AND_EDIT', is_checked, onchange: "jQuery('#tableActions').show();" %>
          <span class="slider"></span>
          <span class="switch-on">Yes</span>
          <span class="switch-off">No</span>
        </label>Reviewer can edit translations
      </p>
    <% end %>
  </td>
</tr>
