<div id="<%= put_object_id(message) %>" class="messageTop">
		<div class="nameDiv messageDivtl"><strong><%= user_link(message.user) %></strong></div>
		<div class="txtblue dateDiv messageDivtr"><%= disp_time(message.chgtime) %></div>&nbsp;

</div>
<div class="messageLeft">
		<div class="clear"></div>	
		<div class="messageDiv"><%= pre_format(message.body)%>

		<div class="clear"></div>	
		<% if message.attachments.length > 0 %>
			<br /><br />
			<div class="infobox"><h4><%= _('Attachments') %></h4>
				<%= render(:partial=>'attachment', :collection=>message.attachments) %>
			</div>
		<% end %>
		
		</div>
		
</div>
<div class="messageBottom">
		<div class="messageDivbl">&nbsp;</div>
        <div class="messageDivbr">&nbsp;</div>&nbsp;
</div>
<div class="spacerDiv"></div>