<%
if params[:controller] == 'text_resources'
  keyword = "assign"
else
  keyword = "invite"
end
%>


<h2> <%=keyword.capitalize%> the same translators from your other projects </h2>
<%= form_tag :action => :reuse_translators, :id => id do %>

  <p>
    <%=keyword.capitalize%> the same translators from:
    <select name="project" id=project">
        <% projects.each do |p| %>
          <option value='{"class": "<%= p.class %>", "id": "<%= p.id %>"}'><%= p.name %></option>
        <% end %>
    </select>
  </p>
  <p>
    <%= submit_tag keyword, data: { disable_with: keyword } %>
  </p>
<% end %>