<% if @editing_comment %>
	<div style="border: 1pt solid #606060; background-color: #F0F0F0; padding: 1em; margin: 1em;">
	<%= form_for(:resource_string, :url=>{:action=>:edit_comment, :req=>'save'}, :remote => true) do |f| %>
		<p><%= _("Explain to the translator what this string is used for. If the sting includes placeholders, describe what they mean.") %></p>
		<p><%= f.text_area(:comment, :cols=>40, :rows=>2, maxlength: COMMON_NOTE) %></p>
		<%= submit_tag(_('Save'), data: { disable_with: _('Save') }) %>
	<% end %>
	<%= form_for(:resource_string, :url=>{:action=>:edit_comment, :req=>'cancel'}, :remote => true) do |f| %>
		<%= submit_tag(_('Cancel'), data: { disable_with: _('Cancel') }) %>
	<% end %>
	</div>
<% else %>
	<% if !@resource_string.comment.blank? %>
		<div class="red_message">
			<%= _("Comment by client for this string:") %><br /><b><%= pre_format(@resource_string.comment) %></b>
			<% if [@user, @user.master_account].include?(@text_resource.client) %>
				<br />
				<%= form_tag({:action=>:edit_comment, :req=>'show'}, :remote => true) do %>
					<%= submit_tag(_('Edit comment'), data: { disable_with: _('Edit comment') }) %>
				<% end %>
			<% end %>
		</div>
		<br />
	<% elsif [@user, @user.master_account].include?(@text_resource.client) %>
			<%= form_tag({:action=>:edit_comment, :req=>'show'}, :remote => true) do %>
				<%= submit_tag('Add a comment for the translator', data: { disable_with: 'Add a comment for the translator' }) %>
			<% end %>
			<p class="comment"><%= _("If this string is not self-explanatory, you can add a comment explaining it to the translator.") %></p>
	<% end %>
<% end %>
