<p><%= _('Hello %s,') % @user.fname %></p>

<p><%= _("Thank you for registering with us a few weeks ago.") %></p>

<p><%= _("Looking at your profile we saw that you have not yet created any project and we would like to help you doing so in a few easy steps. ") %></p>

<p><%= _("We invite you to visit our " + link_to(_("documentation site"),"http://docs.icanlocalize.com/creating-projects/") + " where you can find information about our different project types.") %></p>

<p><%= _("If you wish, we are here to personally guide you through the process. Just give us a call on <b>(+1) 702 997 3025</b>") %></p>

<p><%= _("Or answer this <b>email.</b>") %></p>

<p><%= _("We are happy to grant you a <b>10 USD coupon</b> to redeem against any project created worth 50 USD or more") %></p>

<p><%= _("Check us out and discover what clients say about us ") + link_to("Software localization", "http://www.icanlocalize.com/site/services/software-localization/iphone-application-localization/") + " & " + link_to("Website projects","http://www.icanlocalize.com/site/services/website-translation/wordpress-translation/") %></p>

<p><%= _("Contact us, you won’t be disappointed!") %></p>

<p><%= _("Ornela and Irina") %></p>

<p><%= EMAIL_SIGNATURE %></p>
