<p>Dear <%= @user.full_real_name %>,</p>

<p>
  <% link = url_for({:escape=>false, :only_path=>false, :controller=>:users, :action=>:reset_password, :id=>@user.id, :s=>@user.signature, :host=>EMAIL_LINK_HOST, :protocol=>EMAIL_LINK_PROTOCOL } ) %>
  In order to reset your password to ICanLocalize, click on the link below: <br />
  <%= link_to link, link %>
</p>

<p>
  <% if @signature %>Your registration to ICanLocalize is almost complete. <br />
      Please click on the link below to confirm your email address. Once you do that, you'll be able to log in using your email and password.<br />
      <% link = url_for({:escape => false, :only_path => false, :controller=>:users, :action=>:validate, :id=>@user.id, :signature=>@signature, :host=>EMAIL_LINK_HOST, :protocol=>EMAIL_LINK_PROTOCOL } ) %>
      <%= link_to link, link %>
  <% else %>
      To log in, go to: <br />
      <% link = EMAIL_LINK_PROTOCOL+EMAIL_LINK_HOST %>
      <%= link_to link, link %>
  <% end %>
</p>

<%= EMAIL_SIGNATURE %>