<p><%= _('Hello %s,') % @user.full_real_name %></p>

<p><%= _("ICanLocalize team is here to help you achieve great localization.") %></p>

<p><%= _("You took the time to create an account, and we thank you for that.") %></p>

<p><%= _("To get started, please log in to your ICanLocalize account, click on the") %><i> <%= _("New translation project") %></i> <%= _("button (at the upper right-hand corner of the page) and select the type of project you need from the list. Our system will guide you through the process.") %></p>

<p><%= _("You can also check out our tutorial videos to learn how to translate different type of projects:") %></p>

<ul>
	<li><a href="https://www.youtube.com/watch?v=_4p1CQHBqvQ" target="_blank"><%= _("WordPress website translation with WPML") %></a></li>
	<li><a href="https://www.youtube.com/watch?v=yrVVIXS_FgU" target="_blank"><%= _("Software and app localization") %></a></li>
	<li><a href="https://www.youtube.com/watch?v=hI_FfksjvRA" target="_blank"><%= _("General document translation of any text format") %></a></li>
</ul>

<p><%= _("If you prefer, simply answer this e-mail or give us a call to (+1) 702 997 3025 and we’ll be happy to guide you through your first project, select translators, handle payment and get the work done with the best quality that only professional human translators can provide.
") %></p>

<br/>

<p><%= _('Kind regards,') %></p>