<h1>New destination</h1>

<%= my_error_messages_for :destination %>

<%= form_for(@destination) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name, maxlength: COMMON_FIELD, size: COMMON_FIELD_SIZE %>
  </p>

  <p>
    <b>Url</b><br />
    <%= f.text_field :url, maxlength: COMMON_FIELD, size: COMMON_FIELD_SIZE %>
  </p>

  <p>
    <b>Language</b><br />
	<%= f.select(:language_id, @languages) %></p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', destinations_path %>
