<p>Dear <%= @user.master_account.fname.titleize %> <%= @user.master_account.lname.titleize %>,</p>

<p>You have changed your alias <b><%= @user.fname.titleize %> <%= @user.lname.titleize %>'s</b> password.</p>

<p>Please refer below for details below:</p>
<p>----------------------------------</p>
<p>Password: <%= @password %></p>
<p>----------------------------------</p>
<p>For further inquiries, please contact support.</p>