<%= image_tag 'web_logo_large.png', width: 317, height: 91, alt: 'ICanLocalize logo' %>

<h2><%= _('About ICanLocalize') %></h2>

<p><%= _('ICanLocalize is an online translation service by <b>OnTheGoSystems, INC.</b>.'.html_safe) %></p>
<p><b>4730 S Fort Apache Rd<br />
Suite 300<br />
Las Vegas, NV 89147-7947<br />
USA</b></p>




<p><%= _('Employer Identification Number (EIN): ') %><b>26-0260969</b></p>
<p><i><%= _("Note: All our work is delivered electronically. We don't receive material nor return translations via physical shipment.") %></i></p>
