<%if account_line.money_transaction %>
<%
	taxeable = account_line.money_transaction.owner.kind_of?(Invoice) &&
								account_line.money_transaction.source_account.kind_of?(ExternalAccount) &&
								account_line.money_transaction.owner.tax_amount
%>
<tr id="<%= dom_id account_line %>">
	<td><%= disp_time(account_line.chgtime) %></td>
	<td>
		<%= money_transaction_details(account_line, account_line.money_transaction) %>
	</td>
	<td class="moneycolumn">
		<% if account_line.money_transaction.target_account == account_line.account %>
			<% if taxeable %>
			<%= account_line.money_transaction.amount + account_line.money_transaction.owner.tax_amount %>
			<% else %>
			<%= account_line.money_transaction.amount %>
			<% end %>
		<% elsif account_line.money_transaction.affiliate_account == account_line.account %>
			<%= (account_line.money_transaction.fee * AFFILIATE_COMMISSION_RATE).ceil_money %>
		<% else %>
			<%= -account_line.money_transaction.amount %>
		<% end %>
	</td>
	<% if @user[:type] == 'Translator' || ( @account.class == UserAccount && @account.normal_user.is_translator? ) %>
		<td class="moneycolumn"><%= - account_line.money_transaction.fee %></td>
		<td class="moneycolumn"><%= account_line.money_transaction.amount - account_line.money_transaction.fee %></td>
	<% else %>
		<td class="moneycolumn">
			-<%= account_line.money_transaction.owner.tax_amount if taxeable %>
		</td>
	<% end %>
	<td class="moneycolumn"><%= account_line.balance %></td>
</tr>
<%end%>
