<% if @error %>
    <div class="errorExplanation"><%= @error %></div>
<% end %>

<% if @user.has_admin_privileges? %>
    <p>Account owner: <%= account_owner_link(@account).html_safe %></p>
<% end %>

<br/>
<% if @account.normal_user %>
<div class="infobox"><h4>Account information</h4>
  <table>
    <tr>
      <td>Name:</td>
      <td><b><%= h(@account.normal_user.full_real_name) %></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><b><%= h(@account.normal_user.email) %></td>
    </tr>
    <tr>
      <td>ICanLocalize user name:</td>
      <td><b><%= h(@account.normal_user.nickname) %></td>
    </tr>
  </table>
</div>
<br/>
<% end %>

<!-- % form_tag(:action=>:deposits, :_method=>'GET') do % -->
<form action="/finance/deposits/<%= @account.id %>" method="get">
  <%= render(:partial => 'date_range') %>
  <p><%= submit_tag('Apply', data: {disable_with: 'Apply'}) %></p>
  <!-- % end % -->

  <p>This is a summary of all your deposits to ICanLocalize between <%= disp_date(@start_time) %>
    and <%= disp_date(@end_time) %>.</p>
  <div class="pager_control" style="position: relative; height: 15px;">
    <%= paginate @account_lines %>
    <label style="position: absolute; top: 2px; right: 10px">
      Results per page: <%= select_tag 'per_page', options_for_select(%w(10 20 40 60 80 100), params[:per_page]), onchange: 'submit()'  %>
    </label>
    <div style="clear: both"></div>
  </div>
  <%= render(:partial => 'account_lines', :object => @account_lines) %>

  <div class="tabbottom">Total: <b><%= @total %></b> USD</div>

  <div class="inter_tab_spacer"></div>
</form>
<%= render(:partial => 'about_icanlocalize') %>
