<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title><%= h(@header) -%> [ICanLocalize]</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />

  <%= stylesheet_link_tag    'application' %>
  <%= stylesheet_link_tag 'custom/home' %>
  <%= stylesheet_link_tag 'plugins/popup' %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'base' %>
  <%= csrf_meta_tags %>

  <link rel="shortcut icon" href="/assets/favicon.png" type="image/png" />
  <link rel="icon" href="/assets/favicon.png" type="image/png" />

</head>
<body>
<a href="/">
  <%= image_tag 'web_logo_small.png', width: 150, height: 34, alt: 'ICanLocalize', class: 'imageBorder', style: 'float: left;', border: 0 %>
</a>
<div id="topbar">Download center</div>
<div id="maincontents">
  <% if flash[:notice] %>
      <div id="alertDiv">
        <%= pre_format(flash[:notice]) %>
      </div>
  <% end %>
  <h1><%= h(@header) %></h1>
  <%= yield :layout %>
</div>
<div id="bottom">
  <center>
    <br />
    &copy; <%= Time.now.year %>. OnTheGoSystems INC. All Rights Reserved.</center>
</div>
</body>
</html>